#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

form {
    margin-top: 40px;
}

#not-member {
    cursor: pointer;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
}


